/* version mobile first */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap');

:root{
    --blue:#3180F5;
    --gray:#5B5858;
    --backgound-header:#FFEFE8;
    --background-section: #D7F5F5;
    --border-plan: #DECB1E;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* --------------------------------------- */
/* section header */
.container{
    background-color:var(--backgound-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
header{
    width: 80%;
    margin: auto;
    
    
}

.nav-bar{
    padding-top: 20px;
}


.menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p{
    
    font-weight:800;
    font-size: 24px;
    color: var(--blue)
}

#icon-btn{
    background-color: var(--backgound-header);
    border: none;
    cursor: pointer;
}


.hidden{
    display: none;
}
.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list ul li{
    list-style-type: none;
    margin: 0px 5px;
    text-align: center;
    margin-bottom: 10px;
    
}

.nav-list ul li a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 400;
    font-size: 1.2rem;
}


.btn{
    border-radius: 5px;
    background-color: var(--blue);
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 4px;
    gap: 5px;
    cursor: pointer;
    
   
}

.btn span{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}




.infos{
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-analytics{
   margin-bottom: 30px;
}
.img-analytics img{
    width: 90vw;
}



.infos h1{
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 7px;
}
.infos p{
    font-size: 16px;
    color: var(--gray);
    line-height: 30px;
    margin-bottom: 27px;
    font-weight: 500;
}

.infos .learn{
    color: var(--blue);
    font-weight: 800;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 47px;
    cursor: pointer;
}

.infos .img-group{
    align-self: flex-start;
}

.img-group p strong{
    color: var(--blue);
}


/* --------------------------------------- */
/* box informations */
.box-container{
    display: flex;
    justify-content: center;
}
.box-infos{
    padding-top: 30px;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
}
.box-infos h2{
    font-size: 2rem;
    margin-bottom: 10px;
    
}

.box-infos .box{
    border: 1px solid var(--gray);
    margin-top: 19px;
    padding: 20px;
    border-radius: 5px; 
    
}
.box-infos .box h3{
    margin: 5px 0px;
}
.box-infos .box img{
    width: 40px;
}
.box p{
    color: var(--gray);
}


/* --------------------------------------- */
/* section comments twitter */
.section-comments{
    background-color:var(--background-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.box-comments{
    background-color: white;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.section-comments h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 60px;
}
.box-comments .perfil{
    display: flex;
    justify-content: space-between;
}

.perfil .user{
    display: flex;
    align-items: center;
    gap: 5px;
}
.perfil .user p{
    
}

.box-comments .comment{
    font-size: 15px;
    padding: 20px;
}
.box-comments .comment p{
    color: var(--gray);
}

.box-comments .like-date{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.like-date .like{
    display: flex;
    gap: 3px;
}
.like span{
    font-size: 17px;
}


/* --------------------------------------- */
/* section plan twitter */

.plan{
    padding: 30px;
    
}

.title-plan{
    margin-bottom: 50px;
}
.title-plan h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.title-plan p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: var(--gray);
    text-align: center;
    
}

.plan-twitter{
    background-color: var(--backgound-header);
    border: 1px solid var(--border-plan);
    border-radius: 5px;
    padding: 27px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-twitter .monthly{
    display: flex;
    flex-direction: column;
    
    border-bottom: 2px solid black;
    padding: 5px;
}

.monthly span{
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

.monthly p{
    font-size: 20px;
    color: var(--gray);
}
.monthly p strong{
    font-size: 40px;
    font-weight: 800;
    color: black;
}


.plan-twitter .plan-box{
    margin-top: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    
}

.plan-box .plan-text{
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 30px 0px;

}

.plan-text p{
    font-size: 20px;
    color: var(--gray);
}

/* footer */

footer{
    background-color: var(--background-section);
    margin-top: 40px;
    padding: 40px 52px;
}

.twitter-info .twitter-terms{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    width: 300px;
}

.twitter-terms span{
    font-size: 18px;
    font-weight: 400;
}